<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
    <style>
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h3>Edit Chat for id : <%= chat._id %></h3>
    <p><b>Sent from :</b> <i><%= chat.from %> </i> <b> To : </b> <i><%= chat.to %></i></p>

    <form action="/chats/<%= chat.id %>?_method=PATCH" method="post">
        <textarea name="msg" cols="30" rows="10"><%= chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>